extend ../../layouts/common.pug

block content 
     .row.justify-content-center.bg-white.p-5.shadow-sm
          form.col-md-12.col-xl-6(action=`/admin/lessons/${isCreate ? "create" : body.id + "/update"}` method="POST" id=isCreate ? "create" : "update")
               .h2.text-center.text-capitalize= seo.title
               if errors && errors.length
                    each val in errors
                         .alert.alert-danger.mx-5= val
               .mb-3
                    label.form-label(for="name") Buổi Học
                    input#name.form-control(type='text' name="name" placeholder="Buổi Học" value=body ? body.name : "")
               .mb-3.form-floating
                    textarea#description.form-control(placeholder='Mô tả' style='height: 100px' name="description")= body ? body.description : ""
                    label(for='description') Mô tả
               if isCreate
                    .mb-3
                         label.form-label(for="total_exercise") Số Lượng Bài Tập
                         input.form-control(id="total_exercise" type='number' name="total_exercise" placeholder="Bài Tập" min="0" value=body && total_exercise ? body.total_exercise : (body && body.exercises ? body.exercises.length : 0) ) 
               .d-flex.justify-content-center
                    input(type="hidden" name="exercises" value="")
                    input.btn.btn-primary.px-5(type='submit' value=isCreate ? "Tạo" : "Lưu")
          
          if !isCreate
               .d-flex.justify-content-end.my-2
                    button.btn.btn-outline-primary.add Thêm bài tập
          table.table
               thead
                    tr
                         th(scope="col") #
                         th(scope="col") Tên
                         th(scope="col") Mô tả
                         th(scope="col") 
               tbody
                    if body && body.exercises
                         each val, i in body.exercises
                              if val._id
                                   tr 
                                        td= i + 1
                                        td
                                             span= val.name
                                        td
                                             span= val.description 
                                        td
                                             if val._id
                                                  a(href=`/admin/exercises/${val._id}/update`) chi tiết
                                                  button.btn.btn-link.delete.bi.bi-trash.text-danger
                              else 
                                   tr 
                                        td= i + 1
                                        td
                                             input.form-control(type='text' name='exercise' placeholder='Bài tập...' value=val.name || "")
                                        td
                                             input.form-control(type='text' name='description' placeholder='Đề hoặc mô tả bài tập' value=val.description || "")
                                        td
                                             
          //- else if body && body.exercises
          //-      .d-flex.flex-column
          //-           .h4 Danh sách bài tập
          //-           ul
          //-                each val, i in body.exercises
          //-                     li(lesson-id=val._id)
          //-                          a(href=`/admin/exercises/${val._id}/update`)= val.name
          //-                          //- button.delete.btn.btn-outline-danger Xóa
                                   
               
                    .d-flex
                         a.btn.btn-outline-primary.px-5(href=`/admin/lessons/${body._id}/exercise`) Thêm bài
          

     block script
          script(type="text/javascript" src="/public/js/lesson.js")
          //- script(type="text/javascript" src="/public/js/delete.js")