extend ../../layouts/common.pug

block content
     a.btn.btn-primary.my-2(href="/admin/users/create") 
          i.bi.bi-plus.me-2
          span Tạo 
     table.table
          thead
               tr
                    th(scope="col") #
                    th(scope="col") Tên
                    th(scope="col") Email
                    th.d-none.d-sm-table-cell(scope="col") Quyền
                    th(scope="col") 
          tbody
               each val, index in users
                    tr(user-id=val.id)
                         td= index+1
                         td= val.name
                         td= val.email
                         td.d-none.d-sm-table-cell= val.role
                         td
                              a.me-2(href="/admin/users/" + val.id +"/update") chỉnh sửa
                              if user.id != val.id
                                   button.btn.btn-link.delete.bi.bi-trash.text-danger
     form(action="" method="GET" name="delete")
block script
     script(type="text/javascript" src="/public/js/delete.js")
     script.
          const id_attr = "user-id", delete_unit_lang = "người dùng", delete_type = "users";